@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/global" as *;

.aim {
  background-color: silver;
  width: 100vw;
  padding: 62px 32px;
  display: flex;
  box-sizing: border-box;

  @include tablet {
    padding: 62px 64px;
  }

  @include desktop {
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include desktop {
      width: 1080px;
      flex-direction: row;
    }
  }

  &__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
    width: 100%;

    @include tablet {
      width: 100%;
      
    }

    @include desktop {
      width: 50%;
    }
  }

  &__title {
    margin: 0;
    @include aimTitle;
    text-align: center;

    @include tablet {
      text-align: center;
    }

    @include desktop {
    }
  }

  &__text {
    margin: 0;
    @include aimText;
  }

  &__road {
    margin-top: 36px;
    width: 100px;

    @include tablet {
      width: 120px;
    }

    @include desktop {
      width: 20%;
    }
  }
}
