@use "./global" as *;
@use "./variables" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin logoText {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  // font-style: italic;
  color: white;

  @include tablet {
    font-size: 1.2rem;
  }

  @include desktop {
    font-size: 2rem;
  }
}

@mixin navLink {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
}

@mixin heroMainText {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: white;
}

@mixin heroText {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
}

@mixin cardTitle {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: white;
}

@mixin cardText {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: black;
}

@mixin cardSubtitle {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

@mixin aimTitle {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: black;
}

@mixin aimText {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: black;
}

@mixin footerSub {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: black;
}

@mixin footerItem {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
}

@mixin formButton {
  font-family: 'Outfit', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}