@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
@use "../../partials/global" as *;

.footer {
  display: flex;
  justify-content: center;
  // width: 100%;

  &__container {
    margin: 62px 0;

    display: flex;

    @include desktop {
      width: 1080px;
    }
  }

  &__logo {
    height: 80px;

    @include tablet {
    height: 160px;
    }
  }

  &__list {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    margin: 8px 0 16px 0;
    @include footerSub;
  }

  &__listItem {
    margin-bottom: 8px;
    @include footerItem;
  }

  &__nav {
    margin-left: 16px;

    @include tablet {
      margin-left: 64px;
    }
  }

  &__link {
    text-decoration: none;
    color: rgb(100, 100, 100);
  }

  &__link:hover {
    color: black;
  }
}
